*.log
*.aux
*.out
*.nav
*.snm
*.toc
*.vrb
*.pyg
*.bbl
*.blg
.*.swp
en/part1.pdf
en/part2.pdf
en/part3.pdf
en/bib-example.pdf
en/media-graphics.pdf
en/structure-crossref.pdf
en/structure-sections.pdf
en/structure-title.pdf
es/part1.pdf
es/part2.pdf
es/part3.pdf
es/bib-example.pdf
es/media-graphics.pdf
es/structure-crossref.pdf
es/structure-sections.pdf
es/structure-title.pdf

